
.header{
    height: 958px;
    margin: 0 auto;
    font-weight: bold;
    background: url(../images/banner/banner-photo.png) no-repeat center ;
    border-right: 1px solid $cor-Gray;
    h3{margin-bottom: $ma-Sm;};
    a{padding:$pa-Lg $pa-Normal;
    &:hover img{transform: scale(1.1);}}
}


.about{text-align: center;
    h2{margin-bottom: $ma-Sm;}
    img{margin: 0 auto;
        &:hover{transform: scale(1.1);}}
    a{padding: $pa-Lg;}
    .about__edu:nth-child(3){margin-bottom:$ma-Sm;}

    .about__exp{width: 384px;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding-top: $pa-Md;}

    .about__exp__item::before{display: inline-block;
    content: " "; width: 22px; height: 22px;
    background-color:$cor-Red;
    border-radius: 100%;
    margin-right: $ma-Normal;}
}

.brand{padding:3.5rem 0 10rem 0;
    .brand__content{margin-bottom:$ma-XXlg;
        h2{margin-bottom:$ma-Normal*.75 ;}
        h3{margin-bottom:$ma-Normal*2;}}
    img:hover{transform: scale(0.95); opacity: 0.5;}
    .brand__works__item:nth-of-type(1){margin-bottom:$ma-Md;}
}

.arts{text-align: center;
    .arts__content{
        h2{margin-bottom: $ma-Normal;} }
    .arts__works__item{margin-bottom: $ma-Normal*3;}
    .arts__works__item img{padding-bottom: $pa-Lg;
        &:hover{transform: scale(0.95); opacity: 0.5;}}
}
footer{margin-top: 6rem;
        padding: 4rem $pa-Md;
    a{padding: $pa-Normal 0;
        &:hover{color: $cor-Red;}}}

.brand , footer{
    background-color: $cor-Black;
    text-align: center;}
