// container

.container {width: 1200px;
margin: 0 auto;}
.section-mb{margin-bottom:$ma-Lg;}
// font-type
.fz-Xlg{font-size: $fz-Xlg;
line-height: $lh-132;
font-weight: 900;
margin-bottom:$ma-Normal*2 ;}
.fz-Lg{font-size: $fz-Lg;
line-height:$lh-13 ;
}
.fz-Md-42{font-size:$fz-md ;
line-height:$lh-17;}
.fz-Md-36{font-size:$fz-md ;
line-height:$lh-15;}
.fz-Sm-42{font-size:$fz-Sm;
line-height:$lh-21;}
.fz-Sm-30{font-size:$fz-Sm;
line-height:$lh-15;}

// a-color

.link-cor-W{color: $cor-White;}
.link-cor-B{color: $cor-Black;}

// flex

.df-Row-sb{display: flex;
justify-content: space-between;}
.df-Row-sa{display: flex;
flex-wrap: wrap;
justify-content: space-around;}

.df-Col{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}